$theme-color:#032D1F;
$white:#fff;
$black:#000;
$header-btn-border:#03483c;
$header-btn-color:rgb(3,93,77);
$header-bg-color:rgba(255, 255, 255, 0.025);
$item-border:#036755;
$font-green:#CDDD96;
$font-grey:rgb(102,128,121);
$font-pink:#E25D6A;
$placeholder-color:rgba(255, 255, 255, 0.477);
$input-bg:#fbfcfe3e;
