.equestrain,.service{
    padding-top: 11rem;
    padding-bottom: 1rem;
    background-color: $theme-color;
    position: relative;
    h1.text-center{
        position: relative;
        width: fit-content;
        margin:2rem auto 5rem;
        &::before{
            content: '';
            position: absolute;
            width: 150%;
            left: -25%;
            bottom: -2rem;
            height: 4px;
            background-color: $item-border;
        }
    }
    .logo_2{
        top: 7rem;
    }
    .watermark{
        left: 1rem;
        right: 0;
        top: 10.2rem;
        margin: auto;
    }

    
    .row{
        width: 100%;
        padding: 1rem;
        margin: 0;
    }
    .main{
        margin-top: 6rem;
        margin-bottom: 6rem;
        .content-right{
            margin-top: 4.5rem;
            margin-bottom: 4.5rem;
            margin-right: 2rem;
            .row{
                justify-content: end;
            }
        }
        .content-left{
            margin-top: 4.5rem;
            margin-bottom: 4.5rem;
            margin-left: 2rem;
            .row{
                justify-content: start;
                .text{
                    margin-left: 1rem;
                }
            }
        }
        .text{
            margin-right: 1rem;
            h2{
                font-size: $s-large;
                font-weight: 600;
                color: $white;
                margin: 0.7rem 0 1.4rem;
            }
            ul{
                margin-bottom: 1rem;
                li{
                    margin-left: 1.4rem;
                    line-height: 2rem;
                }
            }
        }
        
        .item-border{
            img{
                width: 100%;
            }
        }
        .btn{
            margin-left: -1rem;
        }
        

    }
    
}
.service{
    h1.text-center{
        margin: 2rem auto 1rem;
        &::before{
            height: 0;
        }
    }
}
.care{
    .care-step-img{
        overflow: hidden;
        margin-top: 4rem;
        margin-bottom: 3rem;
        img{
            width: 100%;
            position: relative;
            right: 3px;
        }
    }
}